html,
body {
  overscroll-behavior: None;
  margin: 0;
}

.header {
  background-color: #175738;
  color: aliceblue;
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navegar {
  display: flex;
  width: min-content;
  height: min-content;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  font-size: 0.8rem;
}

.header .icon {
  height: max-content;
  width: min-content;
  flex-direction: row;
}

.icon {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: min-content;
}

.icon .icon-imagem {
  width: 50px;
  height: 50px;
}

/* Quando a tela for maior que 768px (tablet e desktop) */
@media (min-width: 768px) {
  body {
    flex-direction: row;
    font-size: 1.2rem;
  }
}
