body{
    background-color: #175738;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.snack_bar{
    background-color: #175738;
    width: 100%;
    height: 5vh;
    display: flex;
    position: fixed;    
}

.profile{
    display: flex;
    width: 70%;
    justify-content: end;
    padding-right: 4px;
    border-bottom: solid 3px black;
}

.icon_cap{
    display: flex;
    width: 30%;
}

header{
    background-color:#175738;
    font-size:10px;
    width: 30%;
    height: 95vh;
    position:fixed;
    display: flex;
    flex-direction: column;
    bottom:0;
    border-right: solid 3px black;
    align-items: center;
    justify-content: space-between;
}

.img{
    background-color: aqua;
    width: 30px;
    height: 30px;
}

.navegar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

a{
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.text {
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
}

.icon-link{
    display: flex;
    background-color:#175738;
    width: 100%;
    align-items: center;
    gap: 5px;
}


.footer{
    font-size: 1rem;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
