body{
    background-color: #175738;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.snack_bar{
    background-color: #175738;
    width: 100%;
    height: 5vh;
    display: flex;
    position: fixed;   
    border-bottom: solid 0.5px #000000; 
    z-index: 100000;
}


.icon_cap{
    display: flex;
    width: 30%;
}

.icon_cap img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: auto;
}

header{
    background-color:#175738;
    font-size:10px;
    width: 30%;
    height: 95vh;
    position:fixed;
    display: flex;
    flex-direction: column;
    bottom:0;
    align-items: start;
    justify-content: start;
    border-right: solid 0.5px black;
}
.navegar img{
    width: 30px;
    height: 30px;
}

.profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.profile img{
    margin: 5px;
    width: 20px;
    height: 20px;
}

.navegar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 5px;
}

a{
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.text {
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
}

.icon-link{
    display: flex;
    background-color:#175738;
    width: 100%;
    align-items: center;
    gap: 5px;
}


.footer{
    font-size: 1rem;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snack_bar button{
    width: min-content;
    background-color: #175738;
    border: none;
}

.navbar_open{
    display: flex;
    align-items: center;
}

.botao{
    display: flex;
    z-index: 10000;
    height: 100vh;

}

.barra_lateral{
    display:flex;
    width: 30%;
    height: 100%;
    align-items: end;
    flex-direction: column;
    justify-content: end;
}
