section{
    background-color: aqua;
    height: 80vh;
    width: 30%; 
    display: flex;
    flex-direction: column;
    position: fixed;
    top:15%;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}

header{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;

}


.navegar{
    background-color: brown;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: min-content;
    justify-content: space-around   ;
    align-items: start;
    font-size: 2rem;
}

.navegar a{
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
}

footer{
    background-color: rgb(183, 183, 183);
    width: 100%;
    height: 5%;
    align-items: center;
    justify-content: center;
}

.icon-link{
    display: flex;
    justify-content: center;
    gap:1rem;
    align-items: center;
}