body{
    background-color: #175738;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.snack_bar{
    background-color: blue;
    width: 100%;
    height: 5vh;
    display: flex;
    position: fixed;
    justify-content: space-around;
    
}

.profile{
    display: flex;
    width: 70%;
    justify-content: end;
    padding-right: 4px;
}

.icon_cap{
    display: flex;
    width: 30%;
    padding: 4px;
}
.icon_cap img{
    height: 100%;
    width: 20%;
    background-color: #175738;
    border: solid 1px #ffff;
}

header{
    background-color: blue;
    font-size:10px;
    width: 30%;
    height: 95vh;
    position:fixed;
    display: flex;
    flex-direction: column;
    bottom:0;
    }

.navigation{
    background-color: rgb(177, 160, 160);
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 70%;
    overflow-y: auto;
}