.navigation{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 70%;
    height: 95vh;
    overflow-y: auto;
    justify-self: end;
    margin-top: 5vh;
}

.noticia{
    padding: 10px;
}

h2{
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.1rem;
}

.data p{
    font-size: 0.6rem;
}

.noticia img{
    width: 250px;
    height: 220px;
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao .botao_open{
    background-color: white;
    height: 60px;
    width: 30px;
    position: absolute;
    top:50%;
    border-radius:20px ;
    border: solid 1px black;
    display: flex;
    align-items:center;
    justify-content: center;
}

.botao .botao_open img{
    height: 30px;
    width: auto;
}