<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NCE - Nova Notícia</title>
  <script src="scripts/supabase-nce.js"></script>
  <link rel="stylesheet" href="/static/padrao.css">
  <link rel="stylesheet" href="/static/header.css">
  <link rel="stylesheet" href="/static/inicio.css">
  <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0&icon_names=home_and_garden" />
</head>

<body>
  <div class="snack_bar">
    <div class="icon_cap">
      <button id="navbar_open" class="navbar_open">
        <img src="/static/images/icon_white.png">
      </button>
    </div>
    <div class="profile"><a href="/perfil"><img src="/static/images/do-utilizador.png" alt="perfil"></a></div>
  </div>
  <section class="barra_lateral">
    <header id="header" class="header">
      <div class="navegar">
        <div class="text">
          <h2>MENU</h2>
        </div>
        <div class="icon-link">
          <img class="img" src="/static/images/casa.png"><a href="/">INICIO</a>
        </div>
        <div class="icon-link">
          <img class="img" src="/static/images/megafone.png"><a href="/noticias">NOTÍCIAS</a>
        </div>
        <div class="icon-link">
          <img class="img" src="/static/images/calendario.png"><a href="/eventos">EVENTOS</a>
        </div>
        <div class="icon-link">
          <img class="img" src="/static/images/chamada-telefonica.png"><a href="/contatos">CONTATOS</a>
        </div>
        <div class="icon-link">
          <img class="img" src="/static/images/definicoes.png"><a href="/home">EQUIPE</a>
        </div>
      </div>
      <footer class="footer">
        <p>NCE - 2026</p>
      </footer>
    </header>
  </section>
  <div id="navigation" class="navigation">
    <div class="predefinido">
      <img src="/static/images/logotipo.png">
    </div>
    <div class="contatos">
        <h1>Contatos</h1>
        <p>Entre em contato conosco através dos canais abaixo:</p>
        <div class="bg"></div>
        <div class="email">
            <a href="mailto:joaovictorqueimadas@gmail.com?subject=Reclama%C3%A7%C3%A3o%20sobre%20o%20site%20NCE!&body=Ol%C3%A1%2C%20tenho%20algumas%20reclama%C3%A7%C3%B5es%20a%20fazer%20sobre%20o%20site%20NCE!">Enviar Email <img src="/static/images/envelope.png"></a>
        </div>
         <div class="Whatsapp">
            <a href="https://wa.me/5555849939602?text=Ol%C3%A1%2C%20tenho%20uma%20reclama%C3%A7%C3%A3o%20a%20fazer%20sobre%20o%20site%20NCE!">WhatsApp <img src="/static/images/whatsapp-circle.png"></a>
        </div>
         <div class="Instagram">
            <a href="https://instagram.com/j.victor_o.m">Instagram <img src="/static/images/instagram-circle.png"></a>
        </div>
    </div>
    <div class="botao">
      <button id="navbar_open2" class="botao_open">
        <img id="seta" src="/static/images/seta.png">
      </button>
    </div>
</body>
<script>
  let aberto = true
  let seta = document.getElementById("seta")
  let botao2 = document.getElementById("navbar_open2")
  let header = document.getElementById("header")
  let navegar = document.getElementById("navigation")
  botao2.addEventListener("click", () => {
    if (aberto) {
      header.style.transform = "translateX(-100%)"
      navegar.style.width = "100%"
      botao2.style.transform = "translateX(55%)"
      seta.style.rotate = "180deg"
    } else {
      header.style.transform = "translateX(0)"
      navegar.style.width = "70%"
      botao2.style.transform = "translateX(0)"
      seta.style.rotate = "0deg"
    }
    aberto = !aberto
  })
</script>

</html>