<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NCE</title>
    <link href="/static/padrao.css" rel="stylesheet" />
    <script src="scripts/supabase-nce.js"></script>
    <link rel="stylesheet" href="/static/home_user.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0&icon_names=home_and_garden" />  </head>
  <body>
      <header class="header">

        <div class="icon">
          <img
            src="/templates/images/icon_white.png"
            alt="graduation-cap"
            class="icon-imagem"
          />
          <div class="text"><p>MENU</p></div>
        </div>

        <div class="navegar">
          <div class="icon-link">
            <img src="/static/images/home.png">
            <a>INICIO</a>
          </div>
          <div class="icon-link">
            <img src="/static/images/notice.png">
            <a>NOTÍCIAS</a>
          </div>
          <div class="icon-link">
            <img src="/static/images/events.png">
            <a>EVENTOS</a>
          </div>
          <div class="icon-link">
            <img src="/static/images/contacts.png">
            <a>CONTATO</a>
          </div>
          <div class="icon-link">
            <img src="/static/images/seetings.png">
            <a>EQUIPE</a>
          </div>
        </div>

        <footer class="footer">
          <p>NCE - NOTICIAS QUE CONECTAM ESTUDANTES - 2025</p>
        </footer> 
      </header>
    {% for i in evento %}
        <h2>{{  i.titulo }}</h2>
        <p>{{ i.created_at }}</p>
        <img src="{{ i.imagem }}">
        <p>{{ i.conteudo }}</p>
    {% endfor %}
  </body>
</html>
