<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NCE</title>
    <link href="/static/padrao.css" rel="stylesheet" />
    <script src="scripts/supabase-nce.js"></script>
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/inicio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,0&icon_names=home_and_garden" />  
  </head>
  <body>
    <div class="snack_bar">
      <div class="icon_cap">
        <button id="navbar_open" class="navbar_open">
           <img src="/static/images/icon_white.png">
        </button>
      </div>
      <div class="profile"><img src="/static/images/seetings.png" alt="perfil"></div>
    </div>
    <section class="barra_lateral">
      <div class="botao">
        <button id="navbar_open" class="botao_open">
              >
        </button>
      </div>
      <header id="header"class="header">
        <div class="navegar">
          <div class="text"><h2>MENU</h2></div>
          <div class="icon-link">
            <div class="img"></div><a>INICIO</a>
          </div>
          <div class="icon-link">
            <div class="img"></div>
            <a>NOTÍCIAS</a>
          </div>
          <div class="icon-link">
            <div class="img"></div>
            <a>EVENTOS</a>
          </div>
          <div class="icon-link">
            <div class="img"></div>
            <a>CONTATO</a>
          </div>
          <div class="icon-link">
            <div class="img"></div>
            <a>EQUIPE</a>
          </div>
        </div>
        <footer class="footer">
          <p>NCE - 2026</p>
        </footer>
      </header>
    </section>
    <section class="container-geral"></section>
    <div id="navigation"class="navigation">
      <div class="noticia">
        {% for n in noticias %}
          <h2 class="titulo">{{ n.titulo }}</h2>
          <div class="data">
            <p>{{ n.created_at }} - {{ n.categoria }}</p>
          </div>
          <img src="{{ n.imagem }}">
          <p>{{ n.conteudo }}</p>
          <a href="{{ n.link1 }}">{{ n.link1 }}</a>
          <a href="{{ n.link2 }}">{{ n.link2 }}</a>
          <a href="{{ n.link3 }}">{{ n.link3 }}</a>
          <a href="{{ n.link4 }}">{{ n.link4 }}</a>
          <a href="{{ n.link5 }}">{{ n.link5 }}</a>
        {% endfor %}
      </div>
    </div>
    
  </body>
  <script>
    let aberto = true
    let botao = document.getElementById("navbar_open")
    let header = document.getElementById("header")
    let navegar = document.getElementById("navigation")
    botao.addEventListener("click", ()=>{
      if (aberto){
        header.style.transform = "translateX(-100%)"
        navegar.style.width = "100%"
      }
      else {
        header.style.transform = "translateX(0)"
        navegar.style.width = "70%"
      }
      aberto =! aberto
    })  
    botao.onclick = open
  </script>
</html>
