<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NCE</title>
    <link href="/style/base.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="icon">
        <img
          src="/templates/images/icon_white.png"
          alt="graduation-cap"
          class="icon-imagem"
        />
        <div class="text"><p>NCE</p></div>
      </div>
      <div class="navegar">
        <a>INICIO</a>
        <a>NOTÍCIAS</a>
        <a>EVENTOS</a>
        <a>CONTATO</a>
        <a>EQUIPE</a>
      </div>
    </header>
    <footer class="footer">
      <p>NCE - NOTICIAS QUE CONECTAM ESTUDANTES - 2025</p>
    </footer>
  </body>
</html>
